In [1]:
'''Data types is used specify the type of data that stored in the variable
Data types mainly classified into two types those are:
1.	Primitive data types :where single variable stores single value
(strings, float, integers, complex, Boolean)
2.	Non-primitive data types : which stores multiple values
(list, tuples, sets, dictionaries)
'''
#primitive data type:which store  single value in single variable
'''integer:store all positive and negative numbers including zero'''
a=10
print(a)
print(type(a))
#binnary number
b=0b1010
print(b)
print(type(b))
#octadecimal numbers
c=0o123455
print(c)
print(type(c))
#hexadecimal number
d=0x12344abc
print(d)
print(type(d))

10
<class 'int'>
10
<class 'int'>
42797
<class 'int'>
305416892
<class 'int'>

In [2]:
'''#float :data type is used to store decimal values
'''
a=3.5
print(a)
print(type(a))
#exponential
b=3e1
print(b)
print(type(b))

3.5
<class 'float'>
30.0
<class 'float'>

In [3]:
'''
string:sequence of charcaters enclosed in single quotes '' or double quote "" or triple qoutes ''' ''' 
immutable,odered,indexing is possible
'''

a = "shashi"
b = ' Python'
c = """This is a
multi-line using triple quotes"""
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
#indexing
print(c[2])
#slicing
print(c[0:4])
#length of string
print(len(c))

shashi
<class 'str'>
 Python
<class 'str'>
This is a
multi-line using triple quotes
<class 'str'>
i
This
40

In [4]:
'''
boolean :as only two values true or false
'''
a=True
print(type(a))
b=False
print(type(b))
print(bool(''))
print(bool('shashi'))
print(10>2)
print(2==3)

<class 'bool'>
<class 'bool'>
False
True
True
False

In [5]:
'''
complex:used to represent complex numbers it consists of real part and imaginary part
'''
a=2+3j
print(a)
print(type(a))
#Supports arithmetic operations.
b=3+5j
print(a+b)

(2+3j)
<class 'complex'>
(5+8j)

In [6]:
'''
non-primitive data types:which store multiple values

'''
#lists:collection of multiple data types in a encloded square brackeedts()
li=[1,3,5,15,'shashi',1+2j]
print(li)
li.pop(1)#it remove the element from the list using the indexing
print(li)
print(li[3])#indexing is possible forr lists
li.append(20)#appeding a number into alist
li.clear()#clear's the complete list unsing a clear method
li.insert(0,21)#insert the element into alist using index and element into alist
li.insert(1,20)
li.insert(2,22)
print(li)
li.remove(20)#which remove the particular element as wee specified
print(li)
li.extend([1,2,34,5,6])#extend is used to add a no.of elements into a exissyting list
print(li)
li.sort()#which is used to sort the elements in the list
print(li)
print(max(li))#is used to find the maximum number
print(min(li))#it is ued to find the minimum number
print(sum(li))#it is used to find the sum of all num is present in the list

[1, 3, 5, 15, 'shashi', (1+2j)]
[1, 5, 15, 'shashi', (1+2j)]
shashi
[21, 20, 22]
[21, 22]
[21, 22, 1, 2, 34, 5, 6]
[1, 2, 5, 6, 21, 22, 34]
34
1
91

In [7]:
#tuples:ordered and immutable set of collections
tu=(10,20,30,40)
print(tu)
print(type(tu))
print(max(tu))
print(min(tu))
print(len(tu))
print(sum(tu))
print(tu[2])

(10, 20, 30, 40)
<class 'tuple'>
40
10
4
100
30

In [8]:
#sets--->collection of unique elemnts ,mutable ,no indexing is possbile,iterable,unorderd
s={1,2,4,5,6,8,9,0,0,}
p={'shashi','bathula'}
s.add(100)
s.pop()
s.remove(9)
print(s)
print(max(s))
print(min(s))
print(sum(s))
print(s)
print(len(s))
for i in s:
    print(i)
#sets allows only immutable datatypes
#empty {} is declared as disctionery dta type

{1, 2, 4, 5, 6, 100, 8}
100
1
126
{1, 2, 4, 5, 6, 100, 8}
7
1
2
4
5
6
100
8

In [9]:
#dictionary ----->{key:value pairs}
h={'shashi':'python','hari':'javascript'}
print(h)
print(h['shashi'])
print(h['hari'])
for i in h:
    print(i)
z={'suraj':{'home':2222,'off':1111}}
print(z['suraj']['home'])

{'shashi': 'python', 'hari': 'javascript'}
python
javascript
shashi
hari
2222